:root {
    --main-color: #3875CE;
    --header-color: #FAFAFA;
    --border-color: #DADCE0;
    --border-color-lighit: #E8E8E8;
    --border-color-dark: #C6C8CC;
    --font-main: #414141;
    --font-sub: #5A5A5A;
    --font-hint: #8C8C8C;
    --font-hint-dark: #646464;
}

.txt {
    height: 40px;
    width: 120px;
    padding-left: 8px;
    border: 1px solid var(--border-color-dark);
    border-radius: 3px;
    outline: none;
    transition: border .3s ease;
    font-family: 'NanumGothic', sans-serif;
    font-size: 14px;
    color: var(--font-sub);

    &:focus {
        border-color: var(--main-color);
    }

    &::placeholder {
        color: var(--font-hint);
    }

    &.ipt-date {
        padding-right: 40px;
    }
}

.form-date {
    display: flex;
    align-items: center;

    #btn_date {
        margin-left: -35px;
        font-size: 18px;
        background-color: transparent;
        border: none;
        color: var(--font-sub);
        cursor: pointer;

        &:hover {
            color: var(--main-color);
        }
    }
}

.pop-calendar {
    display: none;
    position: absolute;
    min-height: 300px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    padding: 1em;
    font-family: 'NanumGothic', sans-serif;
    box-shadow: 0px 3px 8px 0px rgba(149, 157, 165, 0.5);
    background-color: #fff;

    .cal-topbar {
        display: flex;
        justify-content: space-between;
        padding: 0.3em;

        button {
            border: 0;
            min-height: 30px;
            background-color: transparent;
            font-family: 'NanumGothic', sans-serif;
            font-weight: bold;
            font-size: 16px;
            color: var(--font-main);
            cursor: pointer;

            &:hover {
                color: var(--main-color);
            }
        }
    }
}

.cal-content {
    text-align: center;

    .cal-week-bar {
        display: flex;
        font-size: 14px;
        color: var(--font-sub);
        margin-top: 15px;

        div {
            width: 44px;
            height: 20px;

            &:first-child {
                color: #FF9090;
            }

            &:last-child {
                color: #7ED5E4;
            }
        }
    }

    td {
        font-size: 14px;
        color: var(--font-sub);
        border-radius: 50%;
        width: 40px;
        height: 40px;

        &:hover:not(.date-week) {
            cursor: pointer;
            color: var(--main-color);
            font-weight: bold;
            transition: color 0.2s;
        }
    }
}
