<!DOCTYPE html>
<html lang="ko">

    {% load sass_tags %}

    <head>
        <meta charset="UTF-8">
        <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        
        <link href="{% sass_src 'scss/contract/contract.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'scss/public/nice-select2.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'scss/public/field_radio_btn.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'scss/public/clean_date.scss' %}" rel="stylesheet" type="text/css" />
        
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>

        <script src="/static/js/contract/contract.js" type="text/javascript"></script>
        <script src="/static/js/lib/nice-select2.js" type="module"></script>
    </head>

    {% include 'header.html' %}

    <body>
        <div class="content">
            <!-- 서브 헤더 -->
            <div class="sub-header">
                <h1>계약서 작성</h1>
                <p>매매, 전세, 월세 계약서 작성</p>
            </div>

            <!-- 콘텐츠 -->
            <div class="header-name"><h2>계약 종류</h2></div>
            <div class="item-container">
                <div class="item-section">
                    <div class="item-head"><h5>계약 종류</h5></div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section" style="padding-right: 40px;">
                                <div class="item-name"><p>거래 유형</p></div>
                                <div class="btn-radio">
                                    <label class="btn-radio radio">
                                        <input type="radio" name="contract" value="1">
                                        <span>매매</span>
                                    </label>
                                    <label class="btn-radio radio">
                                        <input type="radio" name="contract" value="2">
                                        <span>전세</span>
                                    </label>
                                    <label class="btn-radio radio">
                                        <input type="radio" name="contract" value="3">
                                        <span>월세</span>
                                    </label>
                                </div>
                            </div>
                            <div class="inner-section">
                                <div class="item-name"><p>부동산 종류</p></div>
                                <div class="box">
                                    <select class="selectize" id="propType">
                                        <option value="1">아파트</option>
                                        <option value="2">다세대</option>
                                        <option value="3">단독·다가구</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-name"><h2>부동산의 표시</h2></div>
            <div class="item-container">
                <div class="item-section">
                    <div class="item-head"><h5>소재지</h5></div>
                    <div class="item-content" style="width: 100%;">
                        <div class="content-row">
                            <div class="inner-section">
                                <div class="item-name"><p>주 소</p></div>
                                <input class="tf adr" type="text" autocomplete="off"
                                       placeholder="예) 상봉동 122-76 또는 동일로112길 45">
                                <button class="btn" style="margin-right: 20px">소재지 검색</button>
                                <div class="form-group" style="margin-right: 20px;">
                                    <input class="form-field" type="text" placeholder="예) 101">
                                    <span>동</span>
                                </div>
                                <div class="form-group" style="">
                                    <input class="form-field" type="text" placeholder="예) 101">
                                    <span>호</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-section">
                    <div class="item-head"><h5>임대할 부분</h5></div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section space-form">
                                <div class="item-name"><p>상세 주소</p></div>
                                <input class="tf" type="text" autocomplete="off">
                                <div class="cbx-form">
                                    <input class="cbx" type="checkbox" id="cbx" style="display: none;">
                                    <label for="cbx" class="check">
                                        <svg width="18px" height="18px" viewBox="0 0 18 18">
                                            <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                            <polyline points="1 9 7 14 15 4"></polyline>
                                        </svg>
                                    </label>
                                    <label for="cbx" class="check-label">일부 임대</label>
                                </div>
                            </div>
                            <div class="inner-section space-form">
                                <div class="item-name"><p>임대면적</p></div>
                                <div class="form-group">
                                    <input class="form-field" type="text">
                                    <span>㎡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-section">
                    <div class="item-head"><h5>토 지</h5></div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section space-form">
                                <div class="item-name"><p>토지지목</p></div>
                                <div class="box">
                                    <select class="selectize">
                                        <option value="1" selected>대</option>
                                        <option value="2">전</option>
                                        <option value="2">답</option>
                                        <option value="2">임야</option>
                                    </select>
                                </div>
                                <div class="cbx-form">
                                    <input class="cbx" type="checkbox" id="cbx_land" style="display: none;">
                                    <label for="cbx_land" class="check">
                                        <svg width="18px" height="18px" viewBox="0 0 18 18">
                                            <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                            <polyline points="1 9 7 14 15 4"></polyline>
                                        </svg>
                                    </label>
                                    <label for="cbx_land" class="check-label">대표 지목</label>
                                </div>
                            </div>
                            <div class="inner-section space-form">
                                <div class="item-name"><p>대지면적</p></div>
                                <div class="form-group">
                                    <input class="form-field" type="text">
                                    <span>㎡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-section">
                    <div class="item-head"><h5>대지권</h5></div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section space-form">
                                <div class="item-name"><p>대지권 비율</p></div>
                                <input class="tf" style="width: 80px; margin-right: 20px; margin: 0;" type="text" autocomplete="off">
                                <div class="item-hint"><p>분의</p></div>
                                <input class="tf" style="width: 80px;" type="text" autocomplete="off">
                            </div>
                            <div class="inner-section space-form">
                                <div class="item-name"><p>대지권 종류</p></div>
                                <div class="box" style="margin-right: 20px;">
                                    <select class="selectize" id="test">
                                        <option value="1" selected>소유권</option>
                                        <option value="2">임차권</option>
                                        <option value="3">전세권</option>
                                        <option value="3">지상권</option>
                                        <option value="3">사용차권</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-section">
                    <div class="item-head"><h5>건 물</h5></div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section space-form">
                                <div class="item-name"><p>구조/용도</p></div>
                                <div class="box" style="margin-right: 20px;">
                                    <select class="selectize">
                                        <option value="1" selected>철근콘크리트</option>
                                        <option value="2">전세</option>
                                        <option value="3">월세</option>
                                    </select>
                                </div>
                                <div class="box">
                                    <select class="selectize">
                                        <option value="1">아파트</option>
                                        <option value="2">다세대</option>
                                        <option value="3">단독·다가구</option>
                                    </select>
                                </div>
                            </div>
                            <div class="inner-section space-form">
                                <div class="item-name"><p>전용면적</p></div>
                                <div class="form-group">
                                    <input class="form-field" type="text">
                                    <span>㎡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 콘텐츠 -->
            <div class="header-name"><h2>계약 내용</h2></div>
            <div class="item-container">
                <div class="item-section" id="sec_price">
                    <div class="item-head"><h5>보증금</h5></div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section">
                                <div class="item-name"><p>보증금</p></div>
                                <div class="form-group">
                                    <input class="form-field" name="price" type="text">
                                    <span>만원</span>
                                </div>
                                <label class="price-kor"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-section" id="sec_rental">
                    <div class="item-head"><h5>월 차임</h5></div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section space-form">
                                <div class="item-name"><p>차임</p></div>
                                <div class="box" style="margin-right: 20px;">
                                    <select class="selectize">
                                        <option value="1" selected>선불</option>
                                        <option value="2">후불</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-field" type="text">
                                    <span>만원</span>
                                </div>
                            </div>
                            <div class="inner-section space-form">
                                <div class="item-name"><p>지불일</p></div>
                                <select class="selectize" id="opt_rentar_day">
                                    <option value="1">( 직접입력 )</option>
                                    <option value="2" selected>잔금일</option>
                                    <option value="3">초일</option>
                                    <option value="4">말일</option>
                                </select>
                                <div class="form-group" style="width: 100px; margin-left: 20px;">
                                    <input class="form-field" type="text" id="txt_rentar_day" disabled>
                                    <span>일</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-section">
                    <div class="item-head"><h5>계약금</h5></div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section space-form">
                                <div class="item-name"><p>계약금</p></div>
                                <div class="box" style="margin-right: 20px;">
                                    <select class="selectize" data-text="테스트">
                                        <option value="1">( 직접입력 )</option>
                                        <option value="2">5 %</option>
                                        <option value="3" selected>10% </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-field" name="price" type="text">
                                    <span>만원</span>
                                </div>
                                <label class="price-kor"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-section" id="sec_middle_pay">
                    <div class="item-head"><h5>중도금</h5>
                        <button class="btn-plus"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section space-form">
                                <div class="item-name"><p>1차 중도금</p></div>
                                <div class="form-group">
                                    <input class="form-field" name="price" type="text">
                                    <span>만원</span>
                                </div>
                                <label class="price-kor"></label>
                            </div>
                            <div class="inner-section space-form">
                                <div class="item-name"><p>지불일</p></div>
                                <input class="clean-date" type="date">
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="inner-section space-form">
                                <div class="item-name"><p>2차 중도금</p></div>
                                <div class="form-group">
                                    <input class="form-field" name="price" type="text">
                                    <span>만원</span>
                                </div>
                                <label class="price-kor"></label>
                            </div>
                            <div class="inner-section space-form">
                                <div class="item-name"><p>지불일</p></div>
                                <input class="" type="date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-section">
                    <div class="item-head"><h5>융자금</h5></div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section space-form">
                                <div class="item-name"><p>융자금</p></div>
                                <div class="form-group">
                                    <input class="form-field" name="price" type="text">
                                    <span>만원</span>
                                </div>
                                <label class="price-kor"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-section">
                    <div class="item-head"><h5>잔 금</h5></div>
                    <div class="item-content">
                        <div class="content-row">
                            <div class="inner-section space-form">
                                <div class="item-name"><p>잔 금</p></div>
                                <div class="form-group">
                                    <input class="form-field" name="price" type="text">
                                    <span>만원</span>
                                </div>
                                <label class="price-kor"></label>
                            </div>
                            <div class="inner-section space-form">
                                <div class="item-name"><p>잔금일</p></div>
                                <div class="form-date">
                                    <input type="text" class="txt ipt-date" id="ipt_date">
                                    <button name="btnDate" id="btn_date"><i class="fa-regular fa-calendar"></i></button>
                                </div>
                                <div class="pop-calendar" id="pop_calendar">
                                    <div class="cal-topbar">
                                        <button onclick="beforem()"><i class="fa-solid fa-chevron-left"></i></button>
                                        <div class="box-yearmonth">
                                            <button id="btn_year">2022년</button>
                                            <button id="btn_month">9월</button>
                                        </div>
                                        <button onclick="nextm()"><i class="fa-solid fa-chevron-right"></i></button>
                                    </div>
                                    <div class="cal-content">
                                        <div class="cal-week-bar">
                                            <div>일</div>
                                            <div>월</div>
                                            <div>화</div>
                                            <div>수</div>
                                            <div>목</div>
                                            <div>금</div>
                                            <div>토</div>
                                        </div>
                                        <table id="pop_calendar_table"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>