<!DOCTYPE html>
<html lang="ko">
    {% load sass_tags %}
    <head>
        <meta charset="UTF-8">
        <link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
    </head>

    {% include 'public/header.html' %}
    
    <body>
        <div class="content">
            <!-- 광고 -->
            <div class="content-box ad">
                AD
            </div>

            <!-- 프로필 -->
            <div class="content-box profile">
                <H3>○○○<p>공인중개사 사무소</p></H3>
                <a class="profile__img"><img src="http://image.serve.co.kr/banner/branchbanner/2021/1001/wan.jpg" style="width: 100%;"></a>
                <p>대표 서 수 연</p>
                <div class="profile__btn-box">
                    <div class="profile__icon-box"><i class="gg-home-alt"></i></div>
                    <div class="profile__icon-box"><i class="gg-bell"></i></div>
                    <div class="profile__icon-box"><i class="gg-bell"></i></div>
                    <div class="profile__icon-box"><i class="gg-bell"></i></div>
                </div>
            </div>

            <!-- 매물 현황 -->
            <div class="content-box status">
                sadsa
            </div>
        </div>

    </body>
</html>